extends layout

block content
  div(class="container containers")
    div(class="row")
      div(class="col-md-6")
        div(class="card")
          div(class="view overlay")
            img(alt="Card image cap" style="height:200px;" class="card-img-top" src="./images/ppi.png")
            a
              div(class="mask rgba-white-slight")
          div(class="card-body elegant-color white-text rounded-bottom")
            h4(class="card-title") PPI Calculates
            hr(class="hr-light")
            p(class="card-text white-text mb-4") PPI is a measure of pixel density or resolution of a computer screen, television screen or other display device. Pixels per inch
            a(href="/calculatorPPI" class="white-text d-flex justify-content-end")
              h5 Calculate
                i(class="pl-3 fas fa-angle-double-right")
      div(class="col-md-6")
        div(class="card")
          div(class="view overlay")
            img(alt="Card image cap" style="height:200px;" class="card-img-top" src="./images/bmi.png")
            a
              div(class="mask rgba-white-slight")
          div(class="card-body elegant-color white-text rounded-bottom")
            h4(class="card-title") BMI Calculate
            hr(class="hr-light")
            p(class="card-text white-text mb-4") Body Mass Index is a simple calculation using a person's height and weight. The formula is BMI = kg/m2 where kg is a person's weight in kilograms and m2 is their height in metres squared. 
            a(href="/calculateBMI" class="white-text d-flex justify-content-end")
              h5 Calculate
                i(class="pl-3 fas fa-angle-double-right")
        
    div(class="row")
      div(class="col-md-6")
        div(class="card")
          div(class="view overlay")
            img(alt="Card image cap" style="height:200px;" class="card-img-top" src="./images/voc.gif")
            a
              div(class="mask rgba-white-slight")
          div(class="card-body elegant-color white-text rounded-bottom")
            h4(class="card-title") Volume of a cylinder 
            hr(class="hr-light")
            p(class="card-text white-text mb-4") The formula for the volume of a cylinder is  V=πr2h . The radius of the cylinder and height of the cylinder. 
            a(href="/calculateVolume" class="white-text d-flex justify-content-end")
              h5 Calculate
                i(class="pl-3 fas fa-angle-double-right")
      div(class="col-md-6")
        div(class="card")
          div(class="view overlay")
            img(alt="Card image cap" style="height:200px;" class="card-img-top" src="./images/por.jpg")
            a
              div(class="mask rgba-white-slight")
          div(class="card-body elegant-color white-text rounded-bottom")
            h4(class="card-title") Perimeter of rectangle
            hr(class="hr-light")
            p(class="card-text white-text mb-4") The formula for the perimeter of a rectangle is often written as P = 2l + 2w, where l is the length of the rectangle and w is the width of the rectangle
            a(href="/calculatePerimeter" class="white-text d-flex justify-content-end")
              h5 Calculate
                i(class="pl-3 fas fa-angle-double-right")
