extends matlayout

block content
    div(class="container containers")
        div(class="row")
          div(class="card")
            div(class="card-content")
              span(class="card-title") Calculate Volume of a cylinder
              form(method="POST", action="/calculateVolume")
                  div(class="input-field ")
                      input(id="radius" type="text" name='radius' class="validate")
                      label(for="radius") Radius
                  div(class="input-field ")
                      input(id="height" type="text" class="validate" name="height")
                      label(for="height") Height
                  button(class="btn waves-effect waves-light" type="submit" name="action") Calculate
                      i(class="material-icons right") send
              div(class="container containers")
                h4 Result : #{volume}
